/* Variables */

:root {
  --main-blue: #004E70;
  --sky-blue: #196e8c;
  --olive: #7a6e27;
  --forest-green: #308144;
  --white-color: #ffffff;
}

/* Font colors */

.odl-main-blue-color {
  color: var(--main-blue);
}

.odl-sky-blue-color {
  color: var(--sky-blue);
}

.odl-olive-color {
  color: var(--olive);
}

.odl-forest-green-color {
  color: var(--forest-green);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #3C3B3B;
  line-height: 1.4;
  background-color: #fff;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin: 1.6rem 0;
}

a:hover {
  text-decoration: underline;
}

/* General */

.odl-section {
  display: flex;
  justify-content: center;
  padding: 8rem 4rem;
}

.odl-container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.odl-two-1-2-columns-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 6rem;
}

.odl-two-1-2-columns-left {
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
}

.odl-two-1-2-columns-right {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
}

.catalog-card {
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 40px 0 rgb(64 74 79 / 20%);
  width: calc(50% - 2rem);
  display: flex;
  align-items: center;
}

.card-icon {
  width: 25%;
  text-align: center;
}

.card-text {
  width: 75%;
  text-align: left;
}

.card-number {
  font-size: 3rem;
  margin: 0;
  font-weight: 600;
}

.card-text p {
  margin: 5px 0;
}

.catalog-link {
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
}

hr {
  max-width: 1440px;
  margin: auto;
  border-top: 1px solid #D3D2D1;
}

/* Button styles */
.btn-catalog {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 1rem;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  font-weight: 600;
  color: white;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn-catalog:hover {
  text-decoration: none;
}

.btn-catalog-dataset {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}

.btn-catalog-publication {
  color: var(--sky-blue);
  background-color: white;
  border: 2px solid var(--sky-blue);
}

.btn-catalog-portals {
  background-color: var(--olive);
  border-color: var(--olive);
}

.btn-catalog-dataset:hover,
.btn-catalog-dataset:focus,
.btn-catalog-dataset.active {
  box-shadow: 0px 4px 8px rgba(0, 78, 112, 0.3); /* Sombra sutil de main blue */
}

.btn-catalog-publication:hover,
.btn-catalog-publication:focus,
.btn-catalog-publication.active {
  box-shadow: 0px 4px 8px rgba(25, 110, 140, 0.3); /* Sombra sutil de sky blue */
}

.btn-catalog-portals:hover,
.btn-catalog-portals:focus,
.btn-catalog-portals.active {
  box-shadow: 0px 4px 8px rgba(122, 110, 39, 0.3); /* Sombra sutil de olive */
}

.research-links table {
  width: 100%;
  border-collapse: collapse;
}

.research-links td {
  padding: 1rem;
  text-align: left;
}

.research-links td {
  border-bottom: 1px solid #D3D2D1;
}

.research-links tr:hover {
  background-color: #f9f9f9;
}

.research-links a {
  font-weight: 600;
  text-decoration: none;
}

.research-links a:hover {
  text-decoration: underline;
}

.research-links td:nth-child(1) {
  width: 66%;
  font-weight: 600;
}

.research-links td:nth-child(2), .research-links td:nth-child(3) {
  width: 17%;
  text-align: center;
  vertical-align: middle;
}

.card-1 .card-number,
.card-1 .catalog-link,
.card-1 .card-icon i,
.dataset-link {
  color: var(--main-blue);
}

.card-2 .card-number,
.card-2 .catalog-link,
.card-2 .card-icon i,
.publication-link {
  color: var(--sky-blue);
}

.card-3 .card-number,
.card-3 .catalog-link,
.card-3 .card-icon i {
  color: var(--olive);
}

.card-4 .card-number,
.card-4 .catalog-link,
.card-4 .card-icon i {
  color: var(--forest-green);
}