<section class="odl-section">
  <div class="odl-container">
    <h1 class="center bold">404 Page not found</h1>
    <h2>404 Page not found</h2>
    <p>
      <strong>File or directory not found.</strong> The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.
    </p>
    <p>Suggestions:</p>
    <ul class="suggestions">
      <li>• Check your spelling.</li>
      <li>• Go to <a href="https://mydata.iadb.org/">https://mydata.iadb.org/</a>.</li>
      <li>• Click on Back.</li>
      <li>• <a [routerLink]="['/browse']">Try our search</a> to find the dataset you're looking for.</li>
    </ul>
  </div>
</section>
