header {
  width: 100%;
  box-sizing: border-box;
}

.header-content {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.header-content.frame-2 {
  display: flex;
  align-items: center;
}

.header-frame-1 {
  background-color: #f0f4f6;
  padding: 15px 20px;
}

.header-actions-left {
  display: flex;
  justify-content: flex-end;
}

.header-actions-left a {
  color: #24506b;
  margin-left: 15px;
  margin-right: 30px;
  text-decoration: none;
}

.header-frame-2 {
  background-color: #ffffff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
}

.header-logo img {
  margin-right: 50px;
  height: 50px;
}

.header-nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav ul li {
  margin: 0;
}

.header-nav ul li a {
  color: #002f56;
  text-decoration: none;
  font-size: 16px;
}

.header-nav ul li a:hover {
  text-decoration: underline;
}

.header-frame-3 {
  background-color: #24506b;
  padding: 20px 20px;
}

.header-breadcrumbs {
  margin-left: 30px;
  color: white;
}

.header-breadcrumbs a {
  color: white;
  text-decoration: none;
}

.header-breadcrumbs a:hover {
  text-decoration: underline;
}

.header-breadcrumbs [aria-current="page"] {
  font-weight: 700;
}
