header {
  width: 100%;
  box-sizing: border-box;

  .user-nav {
    background-color: var(--blue-responsible-lighten-5);
    padding: 1.6rem;

    .user-actions {
      display: flex;
      justify-content: flex-end;
      gap: 2.4rem;

      a {
        color: var(--blue-responsible-darken-1);
        text-decoration: none;
      }
    }
  }

  .primary-nav {
    padding: 1rem;

    .header-logo img {
      width: 100px;
    }

    .primary {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    ul {
      display: flex;
      gap: 4rem;

      li a {
        color: var(--blue-responsible-darken-1);
        text-decoration: none;
      }
    }

    ul li {
      margin: auto 0;
    }

  }

  ul li a:hover {
    text-decoration: underline;
  }

  .breadcrumb {
    background-color: var(--cyan-near-darken-1);
    padding: 1.6rem;

    .breadcrumbs {
      margin-left: 30px;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      [aria-current="page"] {
        font-weight: 700;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
