footer {
  width: 100%;
  box-sizing: border-box;
  padding: 2.4rem 2rem 16rem 2rem;
  background-color: var(--blue-responsible-darken-2);
  color: var(--neutral-white);
}

.footer-nav {
  text-align: center;
  margin-bottom: 5rem;

  ul {
    display: inline-flex;
    gap: 2rem;
    padding: 0;
    margin: 0;

    a {
      color: var(--neutral-white);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.footer-second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-social-media {
  display: flex;
  gap: 2rem;

  fa-icon {
    font-size: 2.4rem;
    color: var(--neutral-white);
  }

  img {
    height: 30px;
    width: auto;
  }

  a:hover fa-icon {
    color: #ccc;
    filter: brightness(100%);
  }
}

.footer-logos {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;

  img {
    max-height: 40px;
    width: auto;
  }
}

@media (max-width: 576px) {
  .footer-logos img {
    max-height: 25px;
  }
}

@media (max-width: 1024px) {
  .footer-nav ul {
    flex-direction: column;
  }

  .footer-second-line {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
  }

  .footer-social-media {
    gap: 1.5rem;
  }

  .footer-logos {
    margin-left: 0;
  }

}
