footer {
  background-color: #01374e;
  padding:90px 30px;
  color: white;
  box-sizing: border-box;
  width: 100%;

}

.footer-content {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.footer-nav {
  text-align: center;
  margin-bottom: 50px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  gap: 20px;
}

.footer-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

.footer-second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-social-media {
  display: flex;
  gap: 30px;
}

.social-icon {
  font-size: 24px;
  color: white;
}

.footer-social-media img {
  height: 30px;
  width: auto;
}

.footer-social-media a:hover i,
.footer-social-media a:hover img {
  color: #ccc;
  filter: brightness(80%);
}

.footer-logos {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.footer-logos img.combined-logos {
  max-height: 40px;
  width: auto;
}
