<footer>

  <div class="odl-container">
    <div class="footer-nav">
      <ul>
        <li><a href="https://www.iadb.org/en/home/press-room">News</a></li>
        <li><a href="https://events.iadb.org/calendar/?lang=en">Events</a></li>
        <li><a href="https://www.iadb.org/en/how-we-can-work-together/work-us/shape-impactful-career-us">Jobs</a></li>
        <li><a href="https://www.iadb.org/en/who-we-are/country-offices">Contact</a></li>
        <li><a href="https://www.iadb.org/en/who-we-are/transparency">Transparency and Accountability</a></li>
        <li><a href="https://www.iadb.org/en/who-we-are/file-complaint">File a Complaint</a></li>
        <li><a href="https://www.iadb.org/en/who-we-are/ati-request-form">Request Information</a></li>
        <li><a href="https://www.iadb.org/en/home/terms-conditions-and-notices">Terms, Conditions and Privacy Notices</a></li>
        <li><a href="https://www.iadb.org/en/extranet">Extranet</a></li>
      </ul>
    </div>

    <div class="footer-second-line">
      <div class="footer-social-media">
        <a href="https://www.linkedin.com/company/inter-american-development-bank" target="_blank"
          rel="noopener" aria-label="Visit IDB LinkedIn">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://twitter.com/the_IDB" target="_blank" rel="noopener"
        aria-label="Visit IDB Twitter">
          <fa-icon [icon]="faXTwitter"></fa-icon>
        </a>
        <a href="https://www.facebook.com/IADB.org" target="_blank" rel="noopener"
          aria-label="Visit IDB Facebook">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
        <a href="https://www.instagram.com/el_bid" target="_blank" rel="noopener"
          aria-label="Visit IDB Instagram">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="https://www.youtube.com/user/IDB" target="_blank" rel="noopener"
          aria-label="Visit IDB YouTube">
          <fa-icon [icon]="faYoutube"></fa-icon>
        </a>
        <a href="https://www.flickr.com/photos/iadb/albums" target="_blank" rel="noopener"
          aria-label="Visit IDB Flickr">
          <fa-icon [icon]="faFlickr"></fa-icon>
        </a>
        <a href="https://www.spreaker.com/user/14284331" target="_blank" rel="noopener"
          aria-label="Visit IDB Podcast">
          <fa-icon [icon]="faPodcast"></fa-icon>
        </a>
      </div>

      <div class="footer-logos">
        <img src="./assets/images/logos/idb-logos/three-logos-white.png" alt="IDB, IDB Invest, and IDB Lab Logos"
          class="combined-logos">
      </div>
    </div>
  </div>

</footer>
