.clickable-title {
  width: fit-content;
  font-size: 24px;
  cursor: pointer;
  color: var(--main-blue);
}

.clickable-title:hover {
  color: var(--sky-blue);
  text-decoration: underline;
}

.dataset-item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
}

.dataset-metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4rem;
}

.metadata-left {
  width: 65%;
}

.metadata-sidebar {
  width: 30%;
}

.metadata-sidebar h4 {
  margin-top: 0;
  color: #605f59;
  font-size: 1em;
  margin-bottom: 10px;
}

.metadata-sidebar p {
  margin: 5px 0;
}

.metadata-sidebar p strong {
  font-weight: bold;
}

.metadata-item fa-icon {
  color: var(--main-blue);
}

.dataset-item h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #004e70;
  font-size: 1.25em;
}

.dataset-item .by-line {
  margin: 0;
}

.dataset-item .category-pill {
  display: inline-block;
  background-color: #dbedf8;
  color: #004e70;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 0.85em;
  margin-right: 5px;
}

.dataset-item p {
  margin: 5px 0;
}

.dataset-item:hover {
  background-color: rgba(219, 237, 248, 0.4);
}

.dataset-link {
  display: inline-block;
  margin-top: 10px;
  color: var(--main-blue);
  text-decoration: none;
  font-weight: bold;
}

.dataset-link:hover {
  text-decoration: underline;
}

.dataset-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dataset-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  transition: max-height 0.3s ease-out, -webkit-line-clamp 0.3s ease-out;
}

.dataset-description.expanded {
  -webkit-line-clamp: unset;
  max-height: none;
  overflow: visible;
}

.read-more-button {
  background: none;
  border: none;
  color: var(--main-blue);
  cursor: pointer;
  text-align: left;
  padding: 0;
  font-family: inherit;
  font-size: 1.6rem;
  width: fit-content;
}

.read-more-button:hover {
  color: var(--sky-blue);
  text-decoration: underline;
}

.link-button:focus {
  text-decoration: none;
  outline: 2px solid var(--sky-blue);
}

.truncated-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5rem * 5);
}

.tooltip-container {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.tooltip-container fa-icon {
  margin-left: 5px;
  font-size: 1.6rem;
  cursor: pointer;
}

.tooltip-content {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  background-color: var(--neutral-white);
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(64, 74, 79, 0.2);
  min-width: 250px;
  max-width: 400px;
  white-space: normal;
  text-align: left;
  z-index: 10;
}

.tooltip-content::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50.8%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: var(--neutral-white) transparent transparent transparent;
}

.tooltip-container:hover .tooltip-content,
.tooltip-container:focus-within .tooltip-content {
  display: block;
}

@media (max-width: 1024px) {

  .dataset-metadata {
    flex-direction: column;
    gap: 2rem;
  }

  .metadata-left {
    width: 100%;
  }

  .metadata-sidebar {
    width: 100%;
  }

}
