.clickable-title {
  font-size: 24px;
  cursor: pointer;
  color: var(--main-blue);
}

.clickable-title:hover {
  color: var(--sky-blue);
  text-decoration: underline;
}



/* Dataset Item Styles */
.dataset-item {
  display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
}

.dataset-metadata {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4rem;
}

.metadata-left {
  width: 65%;
}

.metadata-sidebar {
  width: 30%; /* Adjust width as needed */
}

.metadata-sidebar h4 {
  margin-top: 0;
  color: #605f59;
  font-size: 1em;
  margin-bottom: 10px;
}

.metadata-sidebar p {
  color: #605f59;
  margin: 5px 0;
}

.metadata-sidebar p strong {
  color: #605f59;
  font-weight: bold;
}

.dataset-item h3 {
  margin-top: 0;
  margin-bottom: 5px; /* Reduce space below title */
  color: #004e70;
  font-size: 1.25em;
}

.dataset-item .by-line {
  margin: 0; /* No margin to keep it close to title */
}

.dataset-item .dataset-categories {
  margin-top: 15px; /* Increase space above categories */
  margin-bottom: 15px; /* Increase space below categories */
}

.dataset-item .category-pill {
  display: inline-block;
  background-color: #dbedf8;
  color: #004e70;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 0.85em;
  margin-right: 5px;
}

/* Remove hover effect on pills */
.dataset-item .category-pill:hover {
  background-color: #dbedf8; /* Keep same color on hover */
}

.dataset-item p {
  margin: 5px 0;
  color: #555;
}

.dataset-item p strong {
  color: #333;
  font-weight: bold;
}

.dataset-link {
  display: inline-block;
  margin-top: 10px;
  color: #004e70;
  text-decoration: none;
  font-weight: bold;
}

.dataset-link:hover {
  text-decoration: underline;
}

.dataset-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dataset-description {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Número de líneas antes del truncado */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  color: #555;
}

.dataset-description.expanded {
  -webkit-line-clamp: unset; /* Sin límite de líneas cuando esté expandido */
  overflow: visible;
}

.read-more-button {
  background: none;
  border: none;
  color: var(--main-blue);
  cursor: pointer;
  text-align: left;
  padding: 0;
  font-size: 14px;
}

.read-more-button:hover {
  color: var(--sky-blue);
  text-decoration: underline;
}
