.select-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center; /* Asegura que el contenido esté centrado verticalmente */
}

.select-input {
  width: 100%;
  padding: 1.2rem 2.5rem; /* Espacio a la derecha para la flecha */
  font-size: 1.6rem;
  border: 1px solid #D3D2D1;
  box-shadow: 0px 0px 40px 0px rgba(64, 74, 79, 0.2);
  border-radius: 0.5rem;
  appearance: none; /* Oculta el estilo predeterminado del select */
  background-color: #fff;
  cursor: pointer;
}

/* Flecha centrada y estilizada */
.select-container::after {
  content: '▼'; /* Flecha como símbolo */
  position: absolute;
  right: 1.5rem;
  font-size: 1.4rem; /* Tamaño ajustado para la flecha */
  color: #aaa;
  pointer-events: none; /* Para que no interfiera con el select */
}

.select-input:focus {
  outline: none;
  border-color: var(--sky-blue);
}

.select-input:hover {
  background-color: #f9f9f9; /* Fondo ligeramente más claro al pasar el mouse */
}

.select-container:hover::after {
  color: #007bff; /* Cambia el color de la flecha al pasar el mouse */
}
