.select-container {
  position: relative;
  width: auto;
  display: flex;
  gap: 2rem;
  align-items: center;

  label {
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
  }
}

.select-input {
  font-family: inherit;
  width: 213px;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  border: 1px solid #D3D2D1;
  box-shadow: 0px 0px 40px 0px rgba(64, 74, 79, 0.2);
  border-radius: 0.5rem;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

.select-container::after {
  content: '▼';
  position: absolute;
  right: 1.6rem;
  font-size: 1.4rem;
  color: var(--main-blue);
  pointer-events: none;
}

.select-input:focus {
  outline: none;
  border-color: var(--sky-blue);
}

.select-input:hover {
  background-color: #f9f9f9;
}

.select-container:hover::after {
  color: var(--sky-blue);
}

@media (max-width: 767.98px) {

  .select-container {
    justify-content: center;
  }

  .select-input {
    width: 100%;
  }
}
