<div class="pagination-container">
  <nav role="navigation" aria-label="Paginación">
    <ul class="pagination">
      <li *ngIf="currentPage > 1" class="pagination-item">
        <a (click)="onPageChange(currentPage - 1)" [attr.aria-label]="'Previous page'" class="pagination-link">
          &laquo; Previous
        </a>
      </li>

      <li *ngFor="let page of pages" [class.active]="page === currentPage" class="pagination-item">
        <a (click)="onPageChange(page)" [attr.aria-label]="'Ir a la página ' + page" class="pagination-link">
          {{ page }}
        </a>
      </li>

      <li *ngIf="currentPage < totalPages" class="pagination-item">
        <a (click)="onPageChange(currentPage + 1)" [attr.aria-label]="'Next page'" class="pagination-link">
          Next &raquo;
        </a>
      </li>
    </ul>
  </nav>
</div>
