<aside class="filters-section">
  <h2>Refine your search</h2>
  <!-- Filters -->
  <div class="filters">
    <!-- Categories (multiple selection) -->
    <div class="filter-group">
      <hr class="separator">
      <label>Category</label>
      <div class="filter-options" id="categoryFilter">
        <label *ngFor="let category of categories">
          <input type="checkbox" [(ngModel)]="selectedFilters[category]" (change)="emitFilters()">
          {{ category }}
        </label>
      </div>
    </div>

    <!-- Years (multiple selection) -->
    <div class="filter-group">
      <hr class="separator">
      <label>Year</label>
      <div class="filter-options" id="yearFilter">
        <div class="filter-options-visible">
          <label *ngFor="let year of years">
            <input type="checkbox" [(ngModel)]="selectedFilters[year]" (change)="emitFilters()">
            <span>{{ year }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</aside>
