<aside class="filters-section">
  <h2>Refine your search</h2>
  <!-- Filters -->
  <div class="filters">
    <!-- Topics (multiple selection) -->
    <div class="filter-group">
      <hr class="separator">
      <label>Topics</label>
      <div class="filter-options" id="topicFilter">
        <div class="filter-options-visible">
          <label *ngFor="let topic of visibleTopics">
            <input type="checkbox" [(ngModel)]="selectedFilters[topic]" (change)="emitFilters()"
              (keydown.enter)="onCheckboxKeydown(topic, 'topic')">
            {{ topic }}
          </label>
        </div>
        <button *ngIf="visibleTopics.length < topics.length" (click)="showAllTopics()" class="link-button">
          More
        </button>
      </div>
    </div>

    <!-- Regions & Countries -->
    <div class="filter-group">
      <hr class="separator">
      <label>Regions & Countries</label>
      <div class="filter-options" id="regionFilter">
        <div *ngFor="let region of regions | keyvalue">
          <span (click)="toggleRegion(region.key)" (keydown.enter)="toggleRegion(region.key)" class="region-label"
            tabindex="0" role="button">
            {{ region.key }}
            <fa-icon *ngIf="expandedRegions[region.key]; else downArrow" [icon]="faChevronUp"
              class="arrow-icon"></fa-icon>
            <ng-template #downArrow>
              <fa-icon [icon]="faChevronDown" class="arrow-icon"></fa-icon>
            </ng-template>
          </span>
          <div *ngIf="expandedRegions[region.key]">
            <div *ngFor="let country of region.value">
              <label>
                <input type="checkbox" [(ngModel)]="selectedFilters[country]" (change)="emitFilters()"
                  (keydown.enter)="onCheckboxKeydown(country, 'country')">
                {{ country }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Publication Year (multiple selection) -->
    <div class="filter-group">
      <hr class="separator">
      <label>Publication Year</label>
      <div class="filter-options" id="yearFilter">
        <div class="filter-options-visible">
          <label *ngFor="let year of visibleYears">
            <input type="checkbox" [(ngModel)]="selectedFilters[year]" (change)="emitFilters()"
              (keydown.enter)="onCheckboxKeydown(year, 'year')">
            <span>{{ year }}</span>
          </label>
        </div>
        <button *ngIf="visibleYears.length < years.length" (click)="showAllYears()" class="link-button">
          More
        </button>
      </div>
    </div>

    <!-- Language (multiple selection) -->
    <div class="filter-group">
      <hr class="separator">
      <label>Dataset Language</label>
      <div class="filter-options" id="languageFilter">
        <div class="filter-options-visible">
          <label *ngFor="let language of languages">
            <input type="checkbox" [(ngModel)]="selectedFilters[language]" (change)="emitFilters()"
              (keydown.enter)="onCheckboxKeydown(language, 'language')">
            <span>{{ language }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</aside>
