.filters-section, .dataset-list-container {
  display: flex;
  flex-direction: column;
}

.filters-section h2 {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 10px;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.filters {
  margin-top: 10px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  font-weight: bold; /* Titles of filters in bold */
  display: block;
  margin-bottom: 10px;
}

.filter-options label {
  width: fit-content;
  font-weight: normal; /* Filter options not bold */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.filter-options input[type="checkbox"] {
  margin-right: 5px;
}


.expanded {
  transform: rotate(180deg); /* Flecha hacia abajo */
}

.collapsed {
  transform: rotate(0deg); /* Flecha hacia la derecha */
}

.filter-options-visible {
  display: block;
}

.filter-options-hidden {
  display: none;
}

a {
  cursor: pointer;
  color: var(--main-blue);
  text-decoration: underline;
}

.region-label {
  cursor: pointer; /* Cambiar el cursor a pointer para indicar que es interactivo */
  display: inline-flex;
  align-items: center;
}

.arrow-icon {
  margin-left: 5px; /* Espaciado entre el texto y la flecha */
  font-size: 1.2rem; /* Tamaño de la flecha */
  transition: transform 0.3s ease; /* Efecto de transición cuando se cambia la flecha */
}

.region-label:focus .arrow-icon,
.region-label:hover .arrow-icon {
  color: var(--sky-blue); /* Cambiar color al pasar el cursor o hacer foco */
}

.link-button {
  background: none;
  border: none;
  color: var(--main-blue);
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: 1.6rem;
}

.link-button:hover {
  color: var(--sky-blue);
  text-decoration: underline;
}

.link-button:focus {
  text-decoration: none;
  outline: 2px solid var(--sky-blue);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.2rem;
  height: 2.2rem;
  border: 2px solid #004E70;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  position: relative;
  margin-right: 0.5rem;
}

input[type="checkbox"]:checked {
  background-color: #004E70;
  border: 2px solid #004E70;
}

input[type="checkbox"]:checked::after {
  content: '';
  display: block;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 6px;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

