.filters-section, .dataset-list-container {
  display: flex;
  flex-direction: column;
}

.filters-section h2 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.filters {
  margin-top: 10px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  font-weight: bold; /* Titles of filters in bold */
  display: block;
  margin-bottom: 10px;
}

.filter-options label {
  font-weight: normal; /* Filter options not bold */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.filter-options input[type="checkbox"] {
  margin-right: 5px;
}


.expanded {
  transform: rotate(180deg); /* Flecha hacia abajo */
}

.collapsed {
  transform: rotate(0deg); /* Flecha hacia la derecha */
}

.filter-options-visible {
  display: block;
}

.filter-options-hidden {
  display: none;
}

a {
  cursor: pointer;
  color: var(--main-blue);
  text-decoration: underline;
}

.region-label {
  cursor: pointer; /* Cambiar el cursor a pointer para indicar que es interactivo */
  display: inline-flex;
  align-items: center;
}

.arrow-icon {
  margin-left: 5px; /* Espaciado entre el texto y la flecha */
  font-size: 1.2rem; /* Tamaño de la flecha */
  transition: transform 0.3s ease; /* Efecto de transición cuando se cambia la flecha */
}

.region-label:focus .arrow-icon,
.region-label:hover .arrow-icon {
  color: var(--sky-blue); /* Cambiar color al pasar el cursor o hacer foco */
}


.link-button {
  background: none;
  border: none;
  color: var(--main-blue);
  cursor: pointer;
  font-size: 1em;
  padding: 0;
}

.link-button:focus,
.link-button:hover {
  text-decoration: none;
  outline: 2px solid var(--sky-blue); /* Estilo de enfoque para accesibilidad */
}
