.odl-headline-icon-container {
  display: flex;
  gap: 1rem;
}

.headline-text {
  display: flex;
  align-items: flex-end;
}

.headline-icon img {
  width: 5rem;
}



.top-bar {
  display: flex;
  gap: 4rem;
  margin-bottom: 4rem;
}

.sort {
  width: 100%;
  display: flex;
  justify-content: end;
}
