.odl-headline-icon-container {
  display: flex;
  gap: 1rem;
}

.headline-text {
  display: flex;
  align-items: flex-end;
}

.headline-icon img {
  width: 5rem;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6rem;
  margin-bottom: 4rem;
}

.odl-right {
  width: 100%;
}


@media (max-width: 576px) {
  .top-bar {
    flex-direction: column;
  }

}




