/* --- Styles for the browse subpage --- */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.catalog-header {
  text-align: left; 
  margin-bottom: 10px;
  margin-left: 130px;
  padding: 20px;
}

.catalog-header h1 {
  font-size: 2em;
  margin-bottom: 0;
  color: #004e70;
}

/* Search Section */
.search-section {
  padding: 0 20px 20px 20px;
}

.search-input-container {
  position: relative;
  width: calc(100% - 40px); /* Full width minus padding */
  max-width: 1200px; /* Match the width of catalog-content */
  margin: 0 auto;
}

.search-input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #004e70;
}

#searchInput {
  width: 100%;
  padding: 20px 20px 20px 35px; /* Left padding to make space for icon */
  font-size: 1em;
  border: 1px solid #ccc; /* Grey border */
  border-radius: 5px;
  background-color: transparent; /* No background color */
}

.catalog-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-start; /* Align items at the top */
}

.filters-section, .dataset-list-container {
  display: flex;
  flex-direction: column;
}

.filters-section {
  width: 250px;
  padding: 20px;
}

.filters-section h2 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.filters {
  margin-top: 10px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group label {
  font-weight: bold; /* Titles of filters in bold */
  display: block;
  margin-bottom: 10px;
}

.filter-options label {
  font-weight: normal; /* Filter options not bold */
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.filter-options input[type="checkbox"] {
  margin-right: 5px;
}

.dataset-list-container {
  flex: 1;
  padding: 20px;
}

.results-count {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 20px;
}

.dataset-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Dataset Item Styles */
.dataset-item {
  display: flex; /* Change to flex to accommodate side-by-side layout */
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Grey border */
  border-radius: 5px;
  background-color: transparent; /* No background color */
}

.dataset-info {
  width: 65%; /* Adjust width as needed */
}

.metadata-sidebar {
  width: 30%; /* Adjust width as needed */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align to the bottom */
}

.metadata-sidebar h4 {
  margin-top: 0;
  color: #605f59;
  font-size: 1em;
  margin-bottom: 10px;
}

.metadata-sidebar p {
  color: #605f59;
  margin: 5px 0;
}

.metadata-sidebar p strong {
  color: #605f59;
  font-weight: bold;
}

.dataset-item h3 {
  margin-top: 0;
  margin-bottom: 5px; /* Reduce space below title */
  color: #004e70;
  font-size: 1.25em;
}

.dataset-item .by-line {
  margin: 0; /* No margin to keep it close to title */
}

.dataset-item .dataset-categories {
  margin-top: 15px; /* Increase space above categories */
  margin-bottom: 15px; /* Increase space below categories */
}

.dataset-item .category-pill {
  display: inline-block;
  background-color: #dbedf8;
  color: #004e70;
  padding: 3px 8px;
  border-radius: 15px;
  font-size: 0.85em;
  margin-right: 5px;
}

/* Remove hover effect on pills */
.dataset-item .category-pill:hover {
  background-color: #dbedf8; /* Keep same color on hover */
}

.dataset-item p {
  margin: 5px 0;
  color: #555;
}

.dataset-item .metadata-item {
  margin-top: 10px; /* Space between metadata items */
}

.dataset-item p strong {
  color: #333;
  font-weight: bold;
}

.dataset-link {
  display: inline-block;
  margin-top: 10px;
  color: #004e70;
  text-decoration: none;
  font-weight: bold;
}

.dataset-link:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #004e70;
  color: white;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #004e70;
}

.pagination button:hover {
  background-color: #004e70;
}



/* Styles for the More/Less button */
.more-less-button {
  background: none;
  border: none;
  font-weight: bold;
  color: #004e70; /* Blue color for the link */
  cursor: pointer;
  padding: 0;
  font-size: 0.9em;
  margin-top: 5px;
}

.more-less-button:hover {
  text-decoration: underline;
}

/* Adjustments for the filter options */
.filter-options-visible,
.filter-options-hidden {
  display: flex;
  flex-direction: column;
}

.filter-options-hidden {
  margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .catalog-content {
    flex-direction: column;
  }

  .filters-section {
    width: 100%;
  }

  .dataset-list-container {
    width: 100%;
  }

  .dataset-item {
    flex-direction: column;
  }

  .metadata-sidebar {
    width: 100%;
    padding-left: 0;
    border-left: none;
    margin-top: 20px;
  }

  #searchInput {
    width: 100%;
  }

  .search-input-container {
    width: 100%;
  }
}
