<!--Intro Section-->
<section class="odl-section">
  <div class="odl-container odl-two-1-2-columns-container">
    <!--Intro ODL Text-->
    <div class="odl-two-1-2-columns-left">
      <h1>Welcome to IDB’s Open Data LAC</h1>
      <p>The portal upholds our commitment to share data with the people
        of
        Latin America and the Caribbean so they can make informed
        decisions
        for progress in the region.</p>
    </div>
    <!--Cards-->
    <div class="odl-two-1-2-columns-right">
      <!--Card 1: Datasets-->
      <div class="catalog-card card-1">
        <div class="card-icon">
          <img src="./assets/images/icons/dataset-icon.png" alt="dataset icon">
        </div>
        <div class="card-text">
          <span class="card-number">+200</span>
          <p>Unique datasets in our open data catalog</p>
          <a [routerLink]="['/dataset-catalog']" class="catalog-link">Browse the catalog →</a>
        </div>
      </div>
      <!--Card 2: Research Publications-->
      <div class="catalog-card card-2">
        <div class="card-icon">
          <img src="./assets/images/icons/research-icon.png" alt="research icon">
        </div>
        <div class="card-text">
          <span class="card-number">+300</span>
          <p>Linked research datasets</p>
          <a [routerLink]="['/dataset-catalog']" class="catalog-link">Dig into our
            research →</a>
        </div>
      </div>
      <!--Card 3: Dashboards-->
      <div class="catalog-card card-3">
        <div class="card-icon">
          <img src="./assets/images/icons/thematic-platforms-icon.png" alt="thematic platforms icon">
        </div>
        <div class="card-text">
          <span class="card-number">+20</span>
          <p>Data Portals powered by IDB data</p>
          <a href="https://www.iadb.org/en/knowledge-resources/data/data-platforms" target="_blank" rel="noopener"
            class="catalog-link">Discover
            IDB
            dashboards →</a>
        </div>
      </div>
      <!--Card 4: Indicators-->
      <div class="catalog-card card-4">
        <div class="card-icon">
          <img src="./assets/images/icons/indicator-icon.png" alt="indicator icon">
        </div>
        <div class="card-text">
          <span class="card-number">+400</span>
          <p>Indicators focused on Latin America and the Caribbean</p>
          <a href="indicators/index.html" class="catalog-link">Learn from
            our
            indicators →</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<!--Data-driven Research Section-->
<section class="odl-section">
  <div class="odl-container odl-two-1-2-columns-container">
    <div class="odl-two-1-2-columns-left">
      <!--Intro of Data-driven research-->
      <div>
        <h2 class="odl-sky-blue-color">Data-driven research</h2>
        <p>Our researchers analyze and process data to share knowledge
          that
          is
          backed by the rigor of our data. Explore our most popular
          reports
          and
          papers along with the datasets that make them happen.</p>
      </div>
      <!--Buttons to Navigate to Catalog and Publications-->
      <div>
        <a [routerLink]="['/dataset-catalog']" class="btn-catalog btn-catalog-dataset">Explore the dataset
          catalog</a>
        <a href="https://publications.iadb.org/" target="_blank" rel="noopener"
          class="btn-catalog btn-catalog-publication">See the publication
          catalog</a>
      </div>
    </div>
    <!-- Recent Research Projects Table -->
    <div class="odl-two-1-2-columns-right research-links">
      <table>
        <tbody>
          <tr>
            <td>Grandmothers and the Gender Gap in the Mexican Labor
              Market</td>
            <td><a href="https://mydata.iadb.org/resource/h3ek-xh3t" rel="noopener" class="dataset-link">Dataset →</a>
            </td>
            <td><a href="https://publications.iadb.org/en/grandmothers-and-gender-gap-mexican-labor-market"
                target="_blank" rel="noopener" class="publication-link">Publication →</a></td>
          </tr>
          <tr>
            <td>Quality of Parenting Programs and Child Development
              Outcomes:
              The Case of Peru's Cuna Mas</td>
            <td><a href="https://mydata.iadb.org/resource/2ack-9kw8" class="dataset-link">Dataset →</a></td>
            <td><a
                href="https://publications.iadb.org/en/quality-parenting-programs-and-child-development-outcomes-case-perus-cuna-mas"
                target="_blank" rel="noopener" class="publication-link">Publication →</a></td>
          </tr>
          <tr>
            <td>OLAS Household Survey Data Set</td>
            <td><a
                href="https://mydata.iadb.org/Water-and-Sanitation/OLAS-SCL-WASH-Household-Survey-Dataset/bjat-gfsm/about_data"
                rel="noopener" class="dataset-link">Dataset →</a></td>
            <td><a href="https://publications.iadb.org/en/fs-13-olas-household-survey-data-set" target="_blank"
                rel="noopener" class="publication-link">Publication →</a></td>
          </tr>
          <tr>
            <td>Stylized Facts on the Quality of Banking Regulation in
              Latin
              America and the Caribbean</td>
            <td><a
                href="https://mydata.iadb.org/Financial-Markets-and-Institutions/Survey-Data-for-Stylized-Facts-on-the-Quality-of-B/vckn-9t7x/about_data"
                rel="noopener" class="dataset-link">Dataset →</a></td>
            <td><a
                href="https://publications.iadb.org/en/stylized-facts-quality-banking-regulation-latin-america-and-caribbean"
                target="_blank" rel="noopener" class="publication-link">Publication →</a></td>
          </tr>
          <tr>
            <td>A Better World for Migrants in Latin America and the
              Caribbean: Dataset</td>
            <td><a
                href="https://mydata.iadb.org/Research-Catalog/A-Better-World-for-Migrants-in-Latin-America-and-t/ac5w-5d2c/about_data"
                rel="noopener" class="dataset-link">Dataset →</a></td>
            <td><a href="https://publications.iadb.org/en/better-world-migrants-latin-america-and-caribbean"
                target="_blank" rel="noopener" class="publication-link">Publication →</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<hr>
<!-- Thematic Dashboard Section -->
<section class="odl-section">
  <div class="odl-container">
    <div>
      <h2 class="odl-olive-color">Data Portals</h2>
      <p>Our teams work tirelessly to gather and harmonize data to power
        interactive data portals that visualize and expose the state of
        affairs
        in the region. These are our newest data portals.</p>
    </div>
    <!-- Buttons to Navigate to Data Portals -->
    <div>
      <a href="https://www.iadb.org/en/knowledge-resources/data/data-platforms"
        class="btn-catalog btn-catalog-portals">Discover all portals</a>
    </div>
  </div>
</section>
