<!--Intro Section-->
<section class="odl-section">
  <div class="odl-container odl-two-1-2-columns-container">
    <!--Intro ODL Text-->
    <div class="odl-two-1-2-columns-left">
      <h1>Welcome to IDB’s Open Data LAC</h1>
      <p>The portal upholds our commitment to share data with the people
        of Latin America and the Caribbean so they can make informed
        decisions for progress in the region.</p>
    </div>
    <!--Cards-->
    <div class="odl-two-1-2-columns-right">
      <!--Card 1: Datasets-->
      <div class="catalog-card card-1">
        <div class="card-icon">
          <img src="./assets/images/icons/dataset-icon.png" alt="dataset icon">
        </div>
        <div class="card-text">
          <span class="card-number">{{ counts.datasets }}</span>
          <p>Unique datasets in our open data catalog</p>
          <a [routerLink]="['/dataset-catalog']" class="catalog-link">Browse the catalog →</a>
        </div>
      </div>
      <!--Card 2: Research Publications-->
      <div class="catalog-card card-2">
        <div class="card-icon">
          <img src="./assets/images/icons/research-icon.png" alt="research icon">
        </div>
        <div class="card-text">
          <span class="card-number">{{ counts.linkedResearchDatasets }}</span>
          <p>Linked research datasets</p>
          <a [routerLink]="['/browse']" [queryParams]="{ idbKnowledges: 'Tied research publication' }"
            class="catalog-link">
            Dig into our research →
          </a>
        </div>
      </div>
      <!--Card 3: Dashboards-->
      <div class="catalog-card card-3">
        <div class="card-icon">
          <img src="./assets/images/icons/thematic-platforms-icon.png" alt="thematic platforms icon">
        </div>
        <div class="card-text">
          <span class="card-number">+20 </span>
          <p>Data Portals powered by IDB data</p>
          <a href="https://www.iadb.org/en/knowledge-resources/data/data-platforms" target="_blank" rel="noopener"
            class="catalog-link">Discover IDB dashboards →</a>
        </div>
      </div>
      <!--Card 4: Indicators-->
      <div class="catalog-card card-4">
        <div class="card-icon">
          <img src="./assets/images/icons/indicator-icon.png" alt="indicator icon">
        </div>
        <div class="card-text">
          <span class="card-number">+400</span>
          <p>Indicators focused on Latin America and the Caribbean</p>
          <a [routerLink]="['/browse']" [queryParams]="{ idbKnowledges: 'Feeds indicators' }" class="catalog-link">Learn
            from our indicators datasets →</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<!--Data-driven Research Section-->
<section class="odl-section">
  <div class="odl-container odl-two-1-2-columns-container">
    <div class="odl-two-1-2-columns-left">
      <!--Intro of Data-driven research-->
      <div>
        <h2 class="odl-sky-blue-color">Data-driven research</h2>
        <p>Our researchers analyze and process data to share knowledge
          that
          is
          backed by the rigor of our data. Explore our most popular
          reports
          and
          papers along with the datasets that make them happen.</p>
      </div>
      <!--Buttons to Navigate to Catalog and Publications-->
      <div>
        <a [routerLink]="['/dataset-catalog']" class="btn-catalog btn-catalog-dataset">Explore the dataset
          catalog</a>
        <a href="https://publications.iadb.org/" target="_blank" rel="noopener"
          class="btn-catalog btn-catalog-publication">See the publication
          catalog</a>
      </div>
    </div>
    <!-- Recent Research Projects Table -->
    <div class="odl-two-1-2-columns-right research-links">
      <table>
        <tbody>
          <tr *ngFor="let dataset of recentDatasets">
            <td>{{ dataset.title }}</td>
            <td>
              <a [routerLink]="generateDatasetUrl(dataset)" class="dataset-link">Dataset →</a>
            </td>
            <td>
              <a href="{{ dataset.source }}" target="_blank" rel="noopener" class="publication-link">Publication →</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<hr>
<!-- Thematic Dashboard Section -->
<section class="odl-section">
  <div class="odl-container">
    <div>
      <h2 class="odl-olive-color">Data Portals</h2>
      <p>Our teams work tirelessly to gather and harmonize data to power
        interactive data portals that visualize and expose the state of
        affairs
        in the region. These are our newest data portals.</p>
    </div>
    <!-- Buttons to Navigate to Data Portals -->
    <div>
      <a href="https://www.iadb.org/en/knowledge-resources/data/data-platforms"
        class="btn-catalog btn-catalog-portals">Discover all portals</a>
    </div>
  </div>
</section>
